<div class="min-h-screen bg-gray-950 flex items-center justify-center">
  <div hlmCard class="w-full max-w-sm">
    <div hlmCardHeader>
      <h2 hlmCardTitle>Sign in to Pinboard</h2>
      <p hlmCardDescription>Enter your Pinboard credentials to continue.</p>
    </div>
    <div hlmCardContent [formGroup]="loginForm">
      <!-- pinboard API username and password -->

      <div class="flex flex-col gap-4">
        <!--      hlmFieldGroup-->
        <div>
          <!-- hlmField -->
          <label for="username">Username</label>
          <!-- hlmFieldLabel -->
          <!--            hlmInput-->
          <input
            id="username"
            formControlName="username"
            required
            minlength="3"
          />
        </div>
        <div>
          <!--          hlmField-->
          <label for="password">Password</label>
          <!--          hlmFieldLabel-->
          <!--            hlmInput-->
          <input
            type="password"
            id="password"
            formControlName="password"
            required
            minlength="3"
          />
          <!--          <hlm-field-error validator="required"-->
          <!--            >Description must be entered.</hlm-field-error-->
          <!--          >-->
          <!--          <hlm-field-error validator="minlength"-->
          <!--            >Title must be at least 20 characters.</hlm-field-error-->
          <!--          >-->
          <!--          <hlm-field-error validator="maxlength"-->
          <!--            >Title cannot exceed 100 characters.</hlm-field-error-->
          <!--          >-->
        </div>
      </div>
      @if (loginForm.errors) {
        has errors
        @if (loginForm.hasError('invalidCredentials')) {
          invalid credentials
        }
      }
    </div>
    <div hlmCardFooter class="flex flex-col gap-2">
      <button hlmBtn class="w-full" (click)="login()">Login</button>
      <a
        hlmBtn
        variant="outline"
        class="w-full"
        href="https://pinboard.in/signup/"
        target="_blank"
      >
        Get Pinboard Account
      </a>
    </div>
  </div>
</div>
