<app-main-layout animate.enter="fade-slide-in" animate.leave="fade-slide-out">
  <div class="pt-0">
    <!-- actions -->
    <div class="flex flex-row place-items-center pl-2 dark:bg-blue-100/20 bg-primary/10">
      <div *ngTemplateOutlet="fetchActions"></div>
      <div *ngTemplateOutlet="filterActions"></div>
      <div *ngTemplateOutlet="staleActions"></div>
    </div>
    <!-- bookmarks table -->
    <div class="px-5">
      <app-bookmarks-table [bookmarks]="bookmarks()"></app-bookmarks-table>
    </div>
  </div>

  <!-- FETCH ACTIONS -->
  <ng-template #fetchActions>
    <p [class]="`${hlmMuted} p-2 ml-5`">data</p>

    <div hlmButtonGroup>
      <!-- fetch all -->
      <button
        hlmBtn
        variant="secondary"
        size="sm"
        (click)="getBookmarks()"
        [attr.disabled]="bookmarksFetching() ? 'disabled' : null"
      >
        @if (fetchAllType() === 'cache') {
          <ng-icon name="lucideDatabaseZap" />
        } @else if (fetchAllType() === 'server') {
          <ng-icon name="lucideServer" />
        }
        &nbsp; fetch all
        @if (bookmarksFetching()) {
          <hlm-spinner data-icon="inline-start" />
        }
      </button>
      <button hlmBtn variant="outline" size="sm" [hlmDropdownMenuTrigger]="menu" align="end">
        <ng-icon hlm name="lucideChevronDown" size="sm" />
      </button>
      <ng-template #menu>
        <hlm-dropdown-menu class="w-[49] [--radius:1rem]">
          <hlm-dropdown-menu-group>
            <!-- fetch all from cache -->
            <button hlmDropdownMenuItem (click)="changeFetchAllType('cache')">
              <ng-icon hlm name="lucideDatabaseZap" size="sm" />
              <span>from cache</span>
            </button>
            <!-- fetch all from server -->
            <button hlmDropdownMenuItem (click)="changeFetchAllType('server')">
              <ng-icon hlm name="lucideServer" size="sm" />
              <span>from server</span>
            </button>
          </hlm-dropdown-menu-group>
        </hlm-dropdown-menu>
      </ng-template>

      <!-- fetch most recent bookmarks -->
      <button hlmBtn variant="secondary" size="sm" [disabled]="'disabled'">fetch most recent</button>
    </div>
  </ng-template>

  <!-- QUICK FILTER ACTIONS -->
  <ng-template #filterActions>
    <p [class]="`${hlmMuted} p-2 ml-5`">quick filter</p>
    <div hlmButtonGroup>
      @for (filterType of ['all', 'private', 'public', 'read', 'unread']; track $index) {
        <button
          hlmBtn
          size="sm"
          (click)="filter(filterType)"
          [variant]="currentFilter() === filterType ? 'default' : 'secondary'"
          [attr.disabled]="currentFilter() === filterType ? 'disabled' : null"
        >
          {{ filterType }}
        </button>
      }
    </div>
  </ng-template>

  <!-- STALE ACTIONS -->
  <ng-template #staleActions>
    <p [class]="`${hlmMuted} p-2 ml-5`">stale checker</p>
    <div hlmButtonGroup>
      <!-- stale checker testing -->
      <button
        hlmBtn
        size="sm"
        variant="secondary"
        (click)="startStaleCheck()"
        [disabled]="startStaleCheckDisabled() ? 'disabled' : null"
      >
        @if (staleChecking()) {
          running
          <hlm-spinner data-icon="inline-start" />
        } @else {
          start
        }
      </button>
      <button
        hlmBtn
        size="sm"
        variant="secondary"
        (click)="toggleStaleCheck()"
        [disabled]="pauseStaleCheckDisabled() ? 'disabled' : null"
      >
        {{ staleChecking() ? 'pause' : 'resume' }}
      </button>
      <button
        hlmBtn
        size="sm"
        variant="secondary"
        (click)="stopStaleCheck()"
        [disabled]="stopStaleCheckDisabled() ? 'disabled' : null"
      >
        stop
      </button>
    </div>
  </ng-template>
</app-main-layout>
