<app-main-layout animate.enter="fade-slide-in" animate.leave="fade-slide-out">
  <div class="pt-0">
    <!-- actions -->
    <div
      class="flex flex-row align-middle place-items-center place-content-center justify-center justify-items-center dark:bg-blue-100/20 bg-primary/10"
    >
      <div *ngTemplateOutlet="fetchActions"></div>
      <div *ngTemplateOutlet="staleActions"></div>
    </div>
    <!-- bookmarks table -->
    <div class="px-5">
      <app-bookmarks-table [bookmarks]="bookmarks()"></app-bookmarks-table>
    </div>
  </div>

  <!-- FETCH ACTIONS -->
  <ng-template #fetchActions>
    <div hlmButtonGroup>
      <!-- fetch all -->
      <button
        hlmBtn
        variant="secondary"
        size="sm"
        (click)="getBookmarks()"
        [attr.disabled]="bookmarksFetching() ? 'disabled' : null"
      >
        fetch all
        @if (bookmarksFetching()) {
          <hlm-spinner data-icon="inline-start" />
        }
      </button>
      <!-- fetch most recent bookmarks -->
      <button hlmBtn variant="secondary" size="sm" [disabled]="'disabled'">fetch most recent</button>
    </div>
  </ng-template>

  <!-- STALE ACTIONS -->
  <ng-template #staleActions>
    <p [class]="`${hlmMuted} p-2 ml-5`">stale checker</p>
    <div hlmButtonGroup>
      <!-- stale checker testing -->
      <button
        hlmBtn
        size="sm"
        variant="secondary"
        (click)="startStaleCheck()"
        [disabled]="startStaleCheckDisabled() ? 'disabled' : null"
      >
        @if (staleChecking()) {
          running
          <hlm-spinner data-icon="inline-start" />
        } @else {
          start
        }
      </button>
      <button
        hlmBtn
        size="sm"
        variant="secondary"
        (click)="toggleStaleCheck()"
        [disabled]="pauseStaleCheckDisabled() ? 'disabled' : null"
      >
        {{ staleChecking() ? 'pause' : 'resume' }}
      </button>
      <button
        hlmBtn
        size="sm"
        variant="secondary"
        (click)="stopStaleCheck()"
        [disabled]="stopStaleCheckDisabled() ? 'disabled' : null"
      >
        stop
      </button>
    </div>
  </ng-template>
</app-main-layout>
