<div class="flex flex-row justify-between gap-4 py-4 items-center">
  <div class="flex flex-row gap-4 py-4 items-center">
    <!-- status search -->
    <div hlmInputGroup class="w-full md:w-40">
      <input #statusSearch hlmInputGroupInput placeholder="filter status" (input)="filterStatusChanged($event)" />
      <div hlmInputGroupAddon align="inline-end">
        <button
          hlmInputGroupButton
          aria-label="Copy"
          title="Copy"
          size="icon-xs"
          (click)="clearFilterStatus(statusSearch)"
        >
          <ng-icon [name]="'lucideTrash2'" />
        </button>
      </div>
    </div>
    <!-- fuzzy search -->
    <div hlmInputGroup class="w-full md:w-80">
      <input #fuzzySearch hlmInputGroupInput placeholder="filter text" (input)="filterTextChanged($event)" />
      <div hlmInputGroupAddon align="inline-end">
        <button
          hlmInputGroupButton
          aria-label="Copy"
          title="Copy"
          size="icon-xs"
          (click)="clearFilterText(fuzzySearch)"
        >
          <ng-icon [name]="'lucideTrash2'" />
        </button>
      </div>
    </div>
  </div>
  <button hlmBtn variant="outline" align="end" [hlmDropdownMenuTrigger]="menu">
    columns
    <ng-icon hlm name="lucideChevronDown" class="ml-2" size="sm" />
  </button>
  <ng-template #menu>
    <hlm-dropdown-menu class="w-32">
      @for (column of hidableColumns; track column.id) {
        <button
          hlmDropdownMenuCheckbox
          class="capitalize"
          [checked]="column.getIsVisible()"
          (triggered)="column.toggleVisibility()"
        >
          <hlm-dropdown-menu-checkbox-indicator />
          {{ column.columnDef.id }}
        </button>
      }
    </hlm-dropdown-menu>
  </ng-template>
</div>
<ngx-loading-bar ref="staleProgress" [includeSpinner]="false"></ngx-loading-bar>

<div class="overflow-hidden rounded-md border">
  <!-- we defer the loading of the table, because tanstack manipulates the DOM with flexRender which can cause errors during SSR -->
  @defer {
    <div hlmTableContainer>
      <table hlmTable>
        <thead hlmTHead>
          @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
            <tr hlmTr>
              @for (header of headerGroup.headers; track header.id) {
                <th hlmTh [attr.colSpan]="header.colSpan">
                  @if (!header.isPlaceholder) {
                    <ng-container
                      *flexRender="header.column.columnDef.header; props: header.getContext(); let headerText"
                    >
                      <div [innerHTML]="headerText"></div>
                    </ng-container>
                  }
                </th>
              }
            </tr>
          }
        </thead>
        <tbody hlmTBody>
          @for (row of table.getRowModel().rows; track row.id) {
            <tr
              hlmTr
              [attr.key]="row.id"
              [attr.data-state]="row.getIsSelected() && 'selected'"
              class="cursor-pointer"
              (click)="goToBookmark($event, row.original)"
            >
              @for (cell of row.getVisibleCells(); track $index) {
                <td hlmTd>
                  <ng-container *flexRender="cell.column.columnDef.cell; props: cell.getContext(); let cell">
                    <div [innerHTML]="cell"></div>
                  </ng-container>
                </td>
              }
            </tr>
          } @empty {
            <tr hlmTr>
              <td hlmTd class="h-24 text-center" [attr.colspan]="columns.length">No results.</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>

<div class="flex flex-col justify-between py-4 sm:flex-row sm:items-center">
  @if (table.getRowCount() > 0) {
    <div class="${hlmMuted}">
      {{ table.getSelectedRowModel().rows.length }} of {{ table.getRowCount() }} row(s) selected
    </div>
    <div class="mt-2 flex space-x-2 sm:mt-0">
      <button
        size="sm"
        variant="outline"
        hlmBtn
        [disabled]="!table.getCanPreviousPage()"
        (click)="table.previousPage()"
      >
        Previous
      </button>
      <button size="sm" variant="outline" hlmBtn [disabled]="!table.getCanNextPage()" (click)="table.nextPage()">
        Next
      </button>
    </div>
  } @else {
    <div class="flex h-full w-full items-center justify-center">
      <div class="text-muted-foreground text-sm">No Data</div>
    </div>
  }
</div>
